:root {
  --primary: #173753;
  --secondary: #ffffff;
  --tertiary: #decccc;
  --accent1: #ef3e36;
  --accent2: #6494aa;
  --lightgray: #c4c4c4;
}
.mainMenu {
  background-color: var(--primary);
  width: 100px;
  height: 100vh;
  color: var(--secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subMenu {
  width: 84px;
  padding-top: 20px;
}
.subMenu:hover {
  background-color: var(--lightgray);
}
.subMenu:active {
  background-color: var(--accent2);
}
