:root {
  --primary: #173753;
  --secondary: #ffffff;
  --tertiary: #decccc;
  --accent1: #ef3e36;
  --accent2: #6494aa;
  --lightgray: #c4c4c4;
}
body {
  background-color: var(--primary);
  color: var(--secondary);
}

.main {
  height: 100%;
}
.heading {
  color: var(--secondary);
  font-weight: 400;
}
.ant-form-item-control-input-content .ant-input {
  border-radius: 10px;
  background: rgba(240, 240, 240, 0.45);
  border: 0;
}

.form-container {
  padding: 20px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signin-form {
  width: 45vh;
}
.ant-form-item-control-input-content .ant-btn {
  background-color: var(--accent2);
  border-radius: 10px;
  border: 0;
  margin-left: auto;
  margin-right: auto;
  color: var(--secondary);
  width: 100%;
  height: 48px;
}
.input {
  background-color: rgba(240, 240, 240, 0.45);
  border-radius: 10px;
  height: 48px;
}
.center {
  text-align: center;
}
.forgot-password {
  float: left;
}
.create-account {
  float: right;
}
